.holder{
	display:grid;	
	width:500px;
	height:500px;
	grid-template-columns: 200px 200px;
	grid-template-rows:200px 200px;
}
.item-1{
	background-color:red;
}
.item-2{
	background-color:green;
}
.item-3{
	background-color:pink;
}
.item-4{
	background-color:yellow;
}
.item{
	;
	/* grid-template-rows:repeat(2)200px; */
}
/* Your CSS Code here. */